@charset "UTF-8";

@font-face {
    font-family:'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal; 
    font-style: normal;
}

:root {
    --cor0: #84E1AD;
    --cor1: #3BD47F;
    --cor2: #5cb885;
    --cor3: #174F31;
    --cor4: #51704b;
}

* {
    padding: 0;
    margin: 0;
}


body {
   background-color: #84E1AD;
}

main {
   min-width: 300px;
   max-width: 1000px;
   background-color: white;
   margin: auto;
   padding: 20px;
}

main p {
    line-height: 2em;
}

main img {
    width: 100%;
}

main img.pequena {
    width: 350px;
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor3);
}

a:hover {
    text-decoration: underline;
}

header {
    background-image: linear-gradient(to bottom, #3BD47F, #174F31);
    color: white;
    min-height: 150px;
    padding-top: 40px;
}

header h1 {
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.63);
}

header p {
    padding: 0px;
    margin: -10px;
    text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}


article > h1 {
    text-align: justify;
    color: #5cb885;
    font-family: 'idroid';
}


p {
    text-align: center;
    text-indent: 20px;
    padding: 20px;
}


header > p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}


nav {
    background-color: #174F31;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.329);

}

nav > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;

}

nav > a:hover{
    background-color: #3f9c69;
    color: #51704b;
    border-radius: 10px;
    padding: 8px;
    margin: auto;
    transition-duration: .5s;
}

h3 {
    text-align: justify;
    background-image: linear-gradient(to right, #acd6bf, transparent);
    font-family: 'idroid';
    color: #174F31;
}

div.video {
    background-color: var(--cor3);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}



aside {
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.329);
}

aside > ul {
    list-style-position: inside;
    columns: 2;
}

aside > h4 {
    background-color: var(--cor3);
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    color: white;
}