@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 600px;
  border-collapse: collapse;
}

td, th {
    border: 2px, solid, rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
}

thead th {
  background-color: rgb(99, 98, 98);
  color: white;
}

td.ex {
  font-weight: bold;
}

#a {
  text-align: left;
}

td.media {
  background-color: rgb(99, 98, 98);
  color: white;
  text-align: left;
  font-weight: bold;
}