@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(87, 87, 87);
}


h1 {
    text-align: center;
    padding: 12px;
    box-shadow: 10px 10px 10px;
    background-color: rgb(64, 108, 138);
    border-radius: 10px;
}


p {
    text-align: center;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.603);
    color: white;
}


div {
    text-align: center;
    display: flex; 
    justify-content: center;
}


h2 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
}

 
.formulario {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    display: flex;
    background-image: linear-gradient(rgb(139, 23, 23), rgb(23, 23, 126), rgb(70, 27, 110));
    width: 300px;
    height: 380px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px;
    margin: auto;
}

nav {
    background-color: lightblue;
    padding: 4px;
}

nav > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 20px;
}

nav> a:hover {
    text-decoration: underline;
    }